

.apple_logo {
  padding-left: 200px;
}


.navbar {
  padding: 1px !important;
  background: rgba(0,0,0,0.8) !important;
  padding-bottom: 5px !important;


}

ul.navbar-nav li.nav-item a.nav-link {
  font-size: 14px;
  color: white;
}





.navbar {
  background-color: rgba(0,0,0,0.8);
}

.navbar-dark .navbar-nav .nav-link,
.navbar-toggler i {
  color: #f2f2f2 !important;
}


footer ul{
  list-style: none;
  margin:0;
  padding: 0;
  font-size: 11px;
  line-height: 1.45455;
  font-weight: 400;
  letter-spacing: .005em;
  font-family: "Open Sans";

  color: #333;
  min-width: 1024px;
  overflow: hidden;
  position: relative;
  z-index: 1;

}

.allbot {
  position: relative;
  left: 200px;

}

.bottm1 {
  position: relative;
  left: 300px;
}

.list-group-item {
  font-size: 11px;
}

.pl {
  padding-left: 50px !important;
}
